<div class='container'>
  <div class='row'>

    <div class='problem-list'>
      <div class='problem-header row'>
        <div class='col-2'>Title</div>
        <div class='col-3'>Description</div>
        <div class='col-1'>Responsable</div>
        <div class='col-2'>Creation date</div>
        <div class='col-2'>Progress</div>
        <div class='col-2'></div>
      </div>
      <div class='problem row'>
          <div class='col-2'>Title</div>
          <div class='col-3'>Description</div>
          <div class='col-1'>Responsable</div>
          <div class='col-2'>Creation date</div>
          <div class='col-2'>Progress</div>
          <div class='col-2'></div>
        </div>
    </div>

  </div>
</div>